:root {
    // Colors
    --white-color: #ffffff;
    --black-color: #000000;
    --blue-color: #3684E2;
    --dark-blue-color: #0061D9;
    --light-gray-color: #F4F7FB;
    --dark-gray-color: #BCC3CA;
    --gray-color: #3B4256;
    --lite-orange: #FFF5E5;
    --red-color: #eb5656;
    --green-color: #1BC400;


    --primary-color: var(--dark-blue-color);
    --text-color: var(--gray-color);
    --border-color: var(--gray-color);
}
