// typography
$font-family-gos: 'GOSTUI2';
$font-family-sf: 'SF Pro Display';

// breakpointss
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-smartphone: 767px;
$breakpoint-special-phone: 480px;